

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
    <div class="header">
    <nav> 
        
    </nav>
    </div>
    <div class="content">

        <mat-drawer-container class="example-container">
            <mat-drawer mode="side" opened>
               <!--  <button mat-icon-button  >
                    <mat-icon></mat-icon>
                </button> -->
                <mat-nav-list>
                    <a mat-list-item routerLink="/grapql-int" routerLinkActive="active"  ariaCurrentWhenActive="page"> 
                        <mat-icon>home</mat-icon>  GraphQL 
                    </a>
                    <a mat-list-item routerLink="/clients" routerLinkActive="active"  ariaCurrentWhenActive="page">
                        <mat-icon>man</mat-icon>  
                        Maps</a>
                    <a mat-list-item routerLink="/assignments" routerLinkActive="active">
                        <mat-icon>task</mat-icon>  
                        Drop & Drags</a>
                    <a mat-list-item routerLink="/rates" routerLinkActive="active">
                        <mat-icon>reports</mat-icon>  
                        Monitor</a>
                </mat-nav-list>
            </mat-drawer>
            <mat-drawer-content>
         
                <router-outlet></router-outlet>
            </mat-drawer-content>
          </mat-drawer-container>

 
    </div>
    <div class="footer">
      <h2>footer</h2>
    </div>
  </div>
  





 